* {
    font-family: Inter, "Helvetica Neue", Helvetica, sans-serif;
    color: rgb(37, 37, 37);
}

.ingredient {
    font-weight: 800;
}

.recipe-container {
    display: flex;
    /* outline: 1px solid black; */
    width: 750px;
    height: 250px;
    margin: 0 auto;
}

.recipe-box {
    margin: 2px;
    flex: 1;
    background-color: lightcyan;

    display: flex;
    align-items: center;
}

.recipe-box a {
    color: orangered;
    margin: 0 auto;
}

.vegetable {
    color: rgb(0, 155, 0)
}

.meat {
    color: rgb(155, 0, 0)
}

.spice {
    color: rgb(240, 107, 89)
}

.grain {
    color: rgb(133, 230, 89)
}

.nut {
    color: rgb(97, 49, 4)
}

.fruit {
    color:rgb(100, 150, 19)
}

.herb {
    color: green
}

.oil {
    color: rgb(238, 238, 0)
}

h2 {
    text-align: center;
    background-color:rgb(101, 53, 212);
    color: #f0f0f0;
    margin: 10px 5px;
    border: 3px dotted red;
    padding: 5px 50%;
}

ul li {
    list-style: none;
}

img {
    display: block;
    width: 400;
    margin: 0 auto;
}